<h1><%= @list.name %></h1>
<% @books.each do |book| %>
  <% @list_book = ListBook.find_by(book: book, list: @list) %>
  <h2><%= book.title %></h2>
  <h3><%= book.author %></h3>
  <%= link_to "see details", book_path(book.googlebooks_id) %>
  <%= link_to "Remove from the list",
  list_book_path(@list_book),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
<% end %>
