<% image_link =  @book.image_link || "https://unblast.com/wp-content/uploads/2018/11/Open-Book-Mockup.jpg"%>
<%= image_tag image_link, width: 120%>
<h1><%= @book.title %></h1>
<h2><%= @book.author %></h2>
<% if @book.description.nil? %>
<%= "sorry, no description" %>
<% else %>
<%= @book.description.html_safe  %>
<% end %>

<h3>create new list with this book<h3>
<%= simple_form_for @list do |f| %>
  <%= f.input :name %>
  <%= f.input :description, as: :text %>
  <%= f.input :googlebooks_id, as: :hidden, input_html: { value: @book.googlebooks_id } %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
